<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFU1YAGDRUSgfeFb7V4hZtIU9m5EgaYOg</string>
	<key>GCM_SENDER_ID</key>
	<string>1093710955768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saxena.NewsTracker</string>
	<key>PROJECT_ID</key>
	<string>newstracker-d3d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>newstracker-d3d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093710955768:ios:2fb1258562d33ab615e70d</string>
</dict>
</plist>